# Byte-compiled / optimized 
__pycache__/
*.py[cod]
*.pyc

# Distribution / packaging
bin/
build/
dist/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.cache
nosetests.xml
coverage.xml

#enviroment variables
*.env

#terraform
*.tfstate
*.tfstate*
*.terraform/

values-copy.yaml